@model ProductListViewModel

<link href="~/MyStyles.css" rel="stylesheet" />


<h4> Welcome to SportsStore </h4>
<a asp-action="Add"> Add New Product </a>
<hr />

@foreach (Product p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

@*@for (int i = 1; i <= ViewBag.ProductCount / 3; i++)
    {
        <a asp-action="Index" asp-route-productPage="@i"> Page @i </a>
        @: &nbsp; | &nbsp;
    }*@

@*<h5>
    Page @Model.PagingInformation.CurrentPage
    of @Model.PagingInformation.TotalPages
</h5>*@


@*
@for (int i = 1; i <= Model.PagingInformation.TotalPages; i++)
{
    if (i == Model.PagingInformation.CurrentPage)
    {
        <strong> Page @i</strong>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index" asp-route-productPage="@i">
            Page @i
        </a>
    }
    @: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
}*@

<div page-model="@Model.PagingInformation" 
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>